*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    height: 100vh;
    background: url("/assets/img/backgroundImg.jpg") no-repeat;
    background-size: cover;
}

.cityNameInput{
    margin-top: 16vh;
}